In [7]:
import pandas as pd 

july = pd.read_csv("july_merged_redfin.csv")

In [8]:
july['phone_leads'].sum()

26442

In [9]:
aug = pd.read_csv("aug_redfin_merged.csv")

In [11]:
aug['phone_leads'].sum()

27899

In [12]:
aug

,historical_listing_date,site,TPl,propertyid,listingid,longitude,latitude,PropertyName,pageviews,email_leads,phone_leads
0,2024-08-28,Redfin,INACTIVE,100066718,100066718,-96.6416,34.7810,Oakhurst Apartments,1,NaN,0
1,2024-09-03,Redfin,INACTIVE,100066718,100066718,-96.6416,34.7810,Oakhurst Apartments,1,NaN,0
2,2024-09-02,Redfin,INACTIVE,100066718,100066718,-96.6416,34.7810,Oakhurst Apartments,1,NaN,0
3,2024-08-16,Redfin,INACTIVE,100066718,100066718,-96.6416,34.7810,Oakhurst Apartments,1,NaN,0
4,2024-09-06,Redfin,INACTIVE,100066718,100066718,-96.6416,34.7810,Oakhurst Apartments,1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
1091113,2024-08-18,Rent,INACTIVE,1745,1745,-97.1480,32.8624,Amherst,1,0.0,0
1091114,2024-09-05,AG,INACTIVE,688014,688014,-115.2370,36.2017,Terrace Court Apartments,1,0.0,0
1091115,2024-08-20,AG,INACTIVE,100058076,100058076,-77.7847,43.0916,Chili Heights,1,0.0,0
1091116,2024-08-19,AG,INACTIVE,1023755,1023755,-121.4202,38.4464,Wolf Ranch,1,0.0,0
1091117,2024-08-13,AG,INACTIVE,100065220,100065220,-101.8545,33.5756,The Que,1,0.0,0

In [13]:
may_aug = pd.read_csv("may_sep_redfin_ag_rent_inactives_pv_pl.csv")

In [17]:
len(may_aug['propertyid'].unique())

20189

In [56]:
may_aug['phone_leads'].sum().mean()

110701.0