In [1]:
import pandas as pd

In [2]:

import json
import pandas as pd

data = json.load(open('rent.json'))
df = pd.DataFrame(data['refdomains'])

In [4]:
data = json.load(open('rent.json'))
df = pd.DataFrame(data['refdomains'])
df['target'] = 'rent'
appended_df = df

In [20]:
appended_df

,refdomain,backlinks,refpages,first_seen,last_visited,domain_rating,target
0,104.166.112.7,2,1,2023-02-06T02:05:42Z,2023-02-25T17:32:21Z,33,rent
1,104.166.112.9,2,2,2023-02-09T03:15:50Z,2023-02-12T13:14:56Z,33,rent
2,159.223.93.251,10,8,2022-04-08T17:54:00Z,2023-06-09T10:58:53Z,24,rent
3,184.168.169.53,2,1,2018-07-04T18:12:32Z,2021-06-25T00:36:32Z,20,rent
4,myeclass.academy,6,6,2022-10-09T09:50:28Z,2023-05-12T05:48:16Z,38,rent
...,...,...,...,...,...,...,...
10374,spinknits.co.za,55,40,2022-01-24T17:44:39Z,2023-03-25T08:37:22Z,20,rent
10375,techfinancials.co.za,1,1,2023-02-21T01:03:51Z,2023-02-21T01:03:51Z,57,rent
10376,womenstuff.co.za,1,1,2023-02-09T18:04:16Z,2023-02-09T18:04:16Z,31,rent
10377,download.zone,1,1,2022-12-07T10:26:23Z,2022-12-07T10:26:23Z,40,rent
10378,horizonhealthservices.co.zw,1,1,2021-01-09T16:55:46Z,2022-09-05T14:53:07Z,39,rent

In [5]:
domains = [ 'rentals', 'apartmentguide', 'rentcafe', 'apartments', 'forrent','zillow',  'hotpads', 'redfin', 'apartmentlist', 'realtor']

for domain in domains:
    data = json.load(open('{}.json'.format(domain)))
    
    df = pd.DataFrame(data['refdomains'])
    df['target'] = domain
    appended_df = pd.concat([appended_df, df])

In [24]:
appended_df

,refdomain,backlinks,refpages,first_seen,last_visited,domain_rating,target
0,104.166.112.7,2,1,2023-02-06T02:05:42Z,2023-02-25T17:32:21Z,33,rent
1,104.166.112.9,2,2,2023-02-09T03:15:50Z,2023-02-12T13:14:56Z,33,rent
2,159.223.93.251,10,8,2022-04-08T17:54:00Z,2023-06-09T10:58:53Z,24,rent
3,184.168.169.53,2,1,2018-07-04T18:12:32Z,2021-06-25T00:36:32Z,20,rent
4,myeclass.academy,6,6,2022-10-09T09:50:28Z,2023-05-12T05:48:16Z,38,rent
...,...,...,...,...,...,...,...
31144,tripadvisor.co.za,1,1,2020-09-11T10:12:46Z,2020-09-11T10:12:46Z,83,realtor
31145,webseller.co.za,1,1,2022-07-12T17:40:03Z,2022-07-12T17:40:03Z,48,realtor
31146,dripp.zone,1,1,2022-09-11T00:23:44Z,2022-09-11T00:23:44Z,25,realtor
31147,froth.zone,12,6,2022-02-25T20:28:46Z,2023-06-14T15:49:38Z,36,realtor
31148,tek.zone,7,6,2022-03-27T21:06:07Z,2023-05-23T10:35:56Z,39,realtor

In [6]:
appended_df.to_csv("referring_domains.csv")

In [39]:
import json
data = json.load(open('new_lost_research_rent.com_research_.json'))

In [22]:
df

,date,type,refdomain,refdomain_top,domain_rating,target
0,2013-02-18,new,blondezilla.livejournal.com,blondezilla.livejournal.com,0,rent/research
1,2013-02-18,new,jairefifi.livejournal.com,jairefifi.livejournal.com,0,rent/research
2,2013-02-18,new,n0c.livejournal.com,n0c.livejournal.com,0,rent/research
3,2013-02-19,new,grassrootsnetworking.com,grassrootsnetworking.com,23,rent/research
4,2013-02-19,new,krizmic.blogspot.com,krizmic.blogspot.com,0,rent/research
...,...,...,...,...,...,...
197726,2023-11-12,lost,runonflux.io,runonflux.io,66,rent/research
197727,2023-11-12,lost,nethjalpin.is,nethjalpin.is,1,rent/research
197728,2023-11-12,lost,konsulting.gda.pl,konsulting.gda.pl,18,rent/research
197729,2023-11-12,lost,edensown.co.uk,edensown.co.uk,0,rent/research
197730,2023-11-12,lost,regbooks.uz,regbooks.uz,0,rent/research

In [40]:
df = pd.DataFrame(data['refdomains'])
df['target'] = 'rent/research'

In [41]:
df

,date,type,refdomain,refdomain_top,domain_rating,target
0,2013-02-18,new,blondezilla.livejournal.com,blondezilla.livejournal.com,0,rent/research
1,2013-02-18,new,jairefifi.livejournal.com,jairefifi.livejournal.com,0,rent/research
2,2013-02-18,new,n0c.livejournal.com,n0c.livejournal.com,0,rent/research
3,2013-02-19,new,grassrootsnetworking.com,grassrootsnetworking.com,23,rent/research
4,2013-02-19,new,krizmic.blogspot.com,krizmic.blogspot.com,0,rent/research
...,...,...,...,...,...,...
197726,2023-11-12,lost,runonflux.io,runonflux.io,66,rent/research
197727,2023-11-12,lost,nethjalpin.is,nethjalpin.is,1,rent/research
197728,2023-11-12,lost,konsulting.gda.pl,konsulting.gda.pl,18,rent/research
197729,2023-11-12,lost,edensown.co.uk,edensown.co.uk,0,rent/research
197730,2023-11-12,lost,regbooks.uz,regbooks.uz,0,rent/research

In [42]:
df.to_csv("new_lost_referring_research.csv")

In [8]:
data = json.load(open('rent'))
df = pd.DataFrame(data['refdomains'])
df['target'] = 'rent'
appended_df = df

In [9]:
domains = [ 'rentals', 'apartmentguide', 'rentcafe', 'apartments', 'forrent','zillow',  'hotpads', 'redfin', 'apartmentlist', 'realtor']

for domain in domains:
    data = json.load(open('new_lost_{}.json'.format(domain)))
    
    df = pd.DataFrame(data['refdomains'])
    df['target'] = domain
    appended_df = pd.concat([appended_df, df])

In [14]:
import pandas as pd
from collections import Counter
import matplotlib.pyplot as plt



# Extract the 'clean' column
content_column = df["clean"]

# Initialize a Counter for word frequency analysis
word_counter = Counter()

# Initialize a list for sentence length analysis
sentence_lengths = []

# Process the content
for content in content_column:
    words = content.split()
    word_counter.update(words)
    sentence_lengths.extend([len(sentence.split()) for sentence in content.split('.')])

# Display word frequency analysis
common_words = word_counter.most_common(10)
print("Most common words:", common_words)

# Display sentence length analysis
plt.hist(sentence_lengths, bins=30)
plt.xlabel('Sentence Length')
plt.ylabel('Frequency')
plt.title('Sentence Length Distribution')
plt.show()

# Flag content with unusual sentence lengths
threshold = 30  # Set your threshold
flagged_content = df[df["clean"].apply(lambda x: any(len(sentence.split()) > threshold for sentence in x.split('.')))]

print("Content with unusual sentence lengths:")
print(flagged_content)

KeyError: 'clean'

In [10]:
appended_df.to_csv("new_lost_refdomains.csv")